.App {
  font-family: sans-serif;
  text-align: center;
  color: white;
}
body {
  background: #3494e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ec6ead,
    #3494e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ec6ead, #3494e6);

  font-family: "Sometype Mono", monospace !important;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
